.input{
    height:5.1rem;
    width:100%;
    border-radius:8px;
    border: 1px solid rgba(#4c4e64, .6);
    display:flex;
    overflow:hidden;
    align-items: center;

    input{
        width:100%;
        padding:0px 12px 0px 12px;
        border:none;
        outline: none;
        font-size:1.6rem;
        color:#666;
        height:100%;
    }
    span{
        color:rgba(76, 78, 100, 0.54);
        margin-right: 5px;
        cursor:pointer;
    }
}