@import '../../../utils/styles.scss';

.featured-movie{
    font-family:var(--secondary-font);

    &__divider{
        height:1.5rem;
    }

    &__header{
        display:flex;
        justify-content: space-between;

        @include box__headers

    }
    &__collection{
        overflow:scroll; 
        display:flex;
        scroll-behavior: smooth;

        &--spinner{
            display:grid;
            place-items:center;
            margin-top:-18rem;

            span{
                color:var(--primary-color);
                font-size: 1.8rem;
                display:flex;
                align-items:center;
                cursor:pointer;
                padding-right:1rem;
                padding-left:1rem;

                @media screen and (max-width:768px){
                    font-size:1.6rem;
                }
            }
        }

        &::-webkit-scrollbar{
            display:none;
        }

        &--arrow-left, &--arrow-right{
            height: 5rem;
            width:5rem;
            border-radius: 50%;
            background: #fff;
            position:absolute;
            z-index: 99;
            display:grid;
            place-items: center;
        }
        &--arrow-left{
            left:0;
            top:50%;
        }
        &--arrow-right{
            right:0;
            top:50%;
        }
    }
}

