@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  font-size:62.5%;
  font-family: var(--primary-font);
}

:root{
  --primary-font:'Work Sans', sans-serif;
  --secondary-font:'DM Sans', sans-serif;
}
:root{
  --primary-color:#BE123C;
}

.max-wrapper{
  max-width:1600px;
  margin:0 auto;
  position:relative;

  &__content{
    width:90%;
    margin:0 auto;
  }
}

.standard__spacing--top{
  padding-top: 10rem;
}

.btn__auth{
  border-radius:8px;
  background:#000;
  color:#fff;
  width:100%;
  display:grid;
  place-items: center;
  height:5.1rem;
  font-size:1.6rem;
  box-shadow: 0px 4px 8px -4px rgba(76, 78, 100, 0.42);
  cursor:pointer;
}